{% extends "layout.njk" %}
{% import 'parts/card.njk' as cards %}

{% block content %}

  {% call cards.render('Cadastrar produto', 'product-create container') %}

    <form method="POST" enctype="multipart/form-data" action="/products">

      <div class="fields">
        {% include 'products/fields.njk' %}
      </div>

      <button class="button" type="submit" onclick="Validate.allFields(event)">Salvar</button>
    </form>

  {% endcall %}


{% endblock content %}