{% extends "layout.njk" %}
{% import 'parts/card.njk' as cards %}

{% block content %}

  {% call cards.render('Editar produto', 'product-create container') %}
    <form method="POST" enctype="multipart/form-data" action="/products?_method=PUT">

      <div class="fields">
        {% include 'products/fields.njk' %}

        <input 
          type="hidden" 
          name="id" 
          value="{{ product.id }}"
        >
      </div>

      <button class="button edit" type="submit">Atualizar</button>
    </form>

    <form id="form-delete" method="POST" action="/products?_method=DELETE">
      <input 
        type="hidden" 
        name="id" 
        value="{{ product.id }}"
      >
      <button class="button delete" type="submit">Delete</button>
    </form>
  {% endcall %}

{% endblock content %}

{% block scripts %} 
  <script src="/alert-delete.js"></script>
{% endblock  %}