@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --primary-color: #fd951f;
  --secondary-color: #1fd4fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;
  text-decoration: none;
  border: none;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: #f9f9f9;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

/* == HEADER == */
header, footer {
  background-color: black;
  color: white;

  width: 100%;
  padding: 32px 0;

  text-align: center;
}

header div.container {
  display: grid;
  grid-template-columns: 220px auto 280px;
  gap: 24px;
  align-items: center;
}

header div.container a {
  justify-self: start;
}

/* == HEADER LOGO == */
.logo h1 {
  color: white;
  font-size: 36px;
  line-height: 46px;
}

.logo h2 {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* == HEADER SEARCH == */
.search input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}

/* == PRIMARY MENU == */
nav.primary ul {
  display: flex;
  justify-content: space-between;
}

nav.primary ul li a {
  display: flex;
  align-items: center;

  color: white;
}

nav.primary ul li a:hover {
  color: var(--primary-color);
  transition: 0.2s;
}

nav.primary ul li a i {
  margin-right: 8px;
}