:root {
  --primary-color: #fd951f;
  --primary-color-hover: #d7780b;
  --secondary-color: #1f83fd;
  --color-text1: #333333;
  --color-text2: #888888;
  --color-text3: #999999;
  --color-text4: #101010;
  --color-subtitle: #777777;
  --color-border-light: #efefef;
  --color-border-in-white: #eee;
  --color-negativeOrDanger: #e74c3c;
  --color-positiveOrSuccess: #18a00c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;
  text-decoration: none;
  border: none;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

footer {
  margin-top: auto;
}

.button {
  background-color: var(--primary-color);
  color: white;

  display: block;
  margin: 16px 0;
  padding: 12px 16px;

  width: 100%;
  border-radius: 4px;

  /* For put the button always down */
  align-self: end;

  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  transition: all 0.2s;
}

.button:hover {
  background-color: var(--primary-color-hover);

  transform: scale(1.01, 1.01);
}

.button.edit {
  background-color: var(--secondary-color);
}

.button.delete {
  background-color: lightgray;
}

.button.edit:hover {
  background-color: #065ac1;
}

.button.delete:hover {
  background-color: var(--color-negativeOrDanger);
}

/* == HEADER == */
header, footer {
  background-color: black;
  color: white;

  width: 100%;
  padding: 32px 0;

  text-align: center;
}

header div.container {
  display: grid;
  grid-template-columns: 220px auto 280px;
  gap: 24px;
  align-items: center;
}

header div.container a {
  justify-self: start;
}

/* == HEADER LOGO == */
.logo h1 {
  color: white;
  font-size: 36px;
  line-height: 46px;
}

.logo h2 {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* == HEADER SEARCH == */
.search input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}

/* == PRIMARY MENU == */
nav.primary ul {
  display: flex;
  justify-content: space-between;
}

nav.primary ul li a {
  display: flex;
  align-items: center;

  color: white;
}

nav.primary ul li a:hover {
  color: var(--primary-color);
  transition: 0.2s;
}

nav.primary ul li a i {
  margin-right: 8px;
}

/* == PRODUCT FORM == */
section.form { 
  background-color: white;

  padding: 32px 24px;
  margin: 32px auto;
  
  box-shadow: 2px 2px 2px -3px rgba(60, 60, 60, .9);
  border: 1px solid --color-border-light;
  border-radius: 4px;

  max-width: 700px;
  width: 90%;
}

section.form .header h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  
  text-transform: uppercase;
  color: var(--primary-color);

  margin-bottom: 16px;
}

form .fields {
  margin-bottom: 64px;
}

form .item {
  margin-bottom: 16px;
}

form .item > div:nth-child(1) {
  color: var(--color-subtitle);
  text-transform: uppercase;

  font-size: 14px;
  font-weight: bold;

  margin-bottom: 8px;
}

form .item .input-block input,
form .item input[type="text"],
form .item input[type="number"],
form .item textarea,
form .item select {
  width: 100%;
  padding: 8px 16px;

  box-shadow: 2px 2px 2px -3px rgba(63, 63, 63, .9);
  border: 1px solid var(--color-border-light);
  border-radius: 4px;

  outline: none;
  font-size: 16px;

  text-transform: capitalize;
}

form .item select {
  /* allow styling in select */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* Bring back the side icon */
  background-color: white;

  /* Import and configure Two images. One is for the BG e other is de arrow for click */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

form .item textarea {
  min-height: 150px;
  resize: vertical;
}

form .item span {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border-radius: 16px;
  color: white;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

form .item span input[name="status"] {
  margin-right: 2px;
  cursor: pointer;
}

form .item .input-block,
form .item .textarea-block {
  position: relative;
}

form .item .input-block:focus-within::after,
form .item .textarea-block:focus-within::after {
  content: "";

  width: 4px;
  border-radius: 4px 0 0 4px;
  background: var(--primary-color);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

form .item .with-error.input-block:focus-within::after {
  bottom: 27.5px;
}

form .item .textarea-block:focus-within::after {
  bottom: 4px;
}

/* == PHOTOS UPLOAD == */
form .item #photos-upload {
  position: relative;
  
  display: block;
  overflow: hidden;

  width: 200px;
}

form .item #photos-upload p {
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px rgb(51, 51, 51);
  background-color: var(--secondary-color);
  color: white;

  width: 100%;
  text-align: center;

  text-transform: uppercase;
  font-size: 14px;
}

form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;

  cursor: pointer;
}

form .item #photos-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  width: 100%;
  margin: 8px 0;
}

form .item #photos-preview img {
  width: 100%;
  height: 150px;

  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo img {
  border-radius: 8px;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.8);
  color: red;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 500%;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.2s;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

/* == PRODUCT SHOW == */
.product-single {
  background-color: #fff;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  padding: 32px 24px;
  margin: 32px auto;

  box-shadow: 2px 2px 2px -1px rgba(63, 63, 63, .5);
  
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
}

/* PRODUCT GALLERY */
.product-single .gallery {
  width: 100%;
}

.product-single .highlight > img {
  width: 100%;
  height: 280px;

  object-fit: none;
  object-position: 50% 50%;

  border: 1px solid var(--color-border-light);
  border-radius: 4px;

  cursor: zoom-in;
}

.product-single .gallery-preview { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}
.product-single .gallery-preview img {
  height: 100px;
  width: 100%;

  object-fit: cover;
  opacity: .6;
  cursor: pointer;
  border-radius: 4px;

  transition: 0.2s;
}

.product-single .gallery-preview img:hover,
.product-single .gallery-preview img.active {
  opacity: 1;
}

/* PRODUCT GALLERY LIGHTBOX */
.product-single .highlight .lightbox-target {
  position: fixed;
  left: 0;
  top: -100%;
  opacity: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);

  overflow: hidden;
  z-index: 100;

  transition: opacity 0.4s;
}

.product-single .highlight .lightbox-target img {
  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);

  width: 90%;
  height: 90%;

  object-fit: contain;
}

.product-single .highlight a.lightbox-close {
  width: 50px;
  height: 50px;

  background-color: #fff;
  color: var(--color-text1);

  position: absolute;
  top: -80px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.4s;
}


/* PRODUCT SINGLE INFO */
.product-single .info {
  display: grid;
  grid-template-rows: auto 40px 2fr 1fr;
}

.product-single .info h1 {
  font-size: 32px;
  line-height: 42px;
  color: var(--color-text1);
  text-transform: uppercase;
}

.product-single .info .published {
  color: var(--color-text2);
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

/* PRODUCT SINGLE PRICE-BUY */
.product-single .price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 8px;
  border-top: 1px solid var(--color-border-in-white);
}

.product-single .price-buy .price {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text1);

  display: flex;
  align-items: center;
}

.product-single .price-buy .price .old {
  color: var(--color-text3);
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
  
  margin-left: 8px;
}

.product-single .price-buy .buy .button {
  background-color: var(--secondary-color);

  font-size: 14px;
  letter-spacing: .4px;
}

/* == SHOP == */
.shop h2 {
  margin: 48px 0;
}

.shop .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.shop .product {
  display: grid;
}

.shop .product .image {
  padding-top: 56.25%;
  border-radius: 4px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.shop .items h4 {
  margin: 8px 0;

  font-weight: normal;
  color: var(--color-text3);
}

.shop .items p {
  color: var(--color-text4);

  font-weight: normal;
  font-size: 24px;

  margin-top: 8px;
}

.shop .product .old-price {
  padding: 0;
  margin: 4px 0;

  font-size: 14px;
  color: var(--color-text3);

  text-decoration: line-through;
}

/* == SEARCH PAGE == */
.search-products {
  display: grid;
  grid-template-columns: 200px 1fr;

  margin-top: 48px;
}

.search-products .header {
  margin-bottom: 48px;

  font-size: 14px;
  color: var(--color-text1);
}

.search-products .header h2 {
  font-size: 26px;
  text-transform: capitalize;

  margin-bottom: 8px;
}

.search-products nav h4 {
  margin-bottom: 16px;

  color: var(--color-text1);
  font-size: 14px;
  text-transform: uppercase;  
}

.search-products nav ul li {
  margin: 4px 0;
}

.search-products nav ul li a {
  color: var(--color-subtitle);

  text-transform: capitalize;
}

.search-products nav ul li a:hover {
  color: black;
  font-weight: bold;

  transition: 0.2s;
}


/* == USER REGISTER == */
.user-register.container.form {
  max-width: 500px;
}

/* == ERROR VALIDATE ERRORS == */
.input-block .error {
  background-color: var(--color-negativeOrDanger);
  padding: 4px 16px;
  border-radius: 4px;
  color: white;

  animation: rayka 200ms ease; 
}

@keyframes rayka {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}