/* == PRODUCT SHOW == */
.product-single .card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

/* PRODUCT GALLERY */
.product-single .gallery {
  width: 100%;
}

.product-single .highlight > img {
  width: 100%;
  height: 280px;

  object-fit: none;
  object-position: 50% 50%;

  border: 1px solid var(--color-border-light);
  border-radius: 4px;

  cursor: zoom-in;
}

.product-single .gallery-preview { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}
.product-single .gallery-preview img {
  height: 100px;
  width: 100%;

  object-fit: cover;
  opacity: .6;
  cursor: pointer;
  border-radius: 4px;

  transition: 0.2s;
}

.product-single .gallery-preview img:hover,
.product-single .gallery-preview img.active {
  opacity: 1;
}

/* PRODUCT GALLERY LIGHTBOX */
.product-single .highlight .lightbox-target {
  position: fixed;
  left: 0;
  top: -100%;
  opacity: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);

  overflow: hidden;
  z-index: 100;

  transition: opacity 0.4s;
}

.product-single .highlight .lightbox-target img {
  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);

  width: 90%;
  height: 90%;

  object-fit: contain;

  border-radius: 8px;
}

.product-single .highlight a.lightbox-close {
  width: 50px;
  height: 50px;

  background-color: #fff;
  color: var(--color-text1);

  position: absolute;
  top: -80px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.4s;
  border-radius: 8px;
}


/* PRODUCT SINGLE INFO */
.product-single .info {
  display: grid;
  grid-template-rows: auto 40px 2fr 1fr;
}

.product-single .info h1 {
  font-size: 32px;
  line-height: 42px;
  color: var(--color-text1);
  text-transform: uppercase;
}

.product-single .info .published {
  color: var(--color-text2);
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

/* PRODUCT SINGLE PRICE-BUY */
.product-single .price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 8px;
  border-top: 1px solid var(--color-border-in-white);

  margin-top: auto;
}

.product-single .price-buy .price {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text1);

  display: flex;
  align-items: center;
}

.product-single .price-buy .price .old {
  color: var(--color-text3);
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
  
  margin-left: 8px;
}

.product-single .price-buy .buy .button {
  background-color: var(--secondary-color);

  font-size: 14px;
  letter-spacing: .4px;
}

.product-create {
  max-width: 700px;
}

.product-single .unavailable {
  font-size: 14px;
  font-weight: bold;
  color: #ccc;

  background-color: var(--color-border-in-white);
  padding: 8px 16px;
  margin: 0 16px;
  border-radius: 4px;
  text-align: center;
}