section.login.container,
section.password.container {
  max-width: 500px;
}

section.login.container .fields,
section.password.container .fields {
  margin-bottom: 32px;
}

section.login.container .footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.login.container .footer ul li a {
  color: var(--color-subtitle);
  transition: all 0.2s;
}

section.login.container .footer ul li a:hover {
  color: black;
  font-weight: bold;
}