<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

  {% block head %}
    <title>Launchstore</title>
  {% endblock %}

  {% include 'parts/styles.njk' %}
</head>
<body>
  {% include 'parts/messages.njk' %}

  {% include 'parts/header.njk' %}
  
  {% block content %} {% endblock%}

  {% include 'parts/footer.njk' %}

  {% block scripts %} {% endblock  %}
</body>
</html>